[Unit]
Description=skydns
After=etcd2.service
Requires=etcd2.service

[Service]
ExecStartPre=/usr/sbin/skydns-config
ExecStart=/bin/bash -c "/usr/sbin/skydns -domain local -rcache-ttl 15 -addr 127.0.0.1:53 -machines http://127.0.0.1:2379"
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target