[Unit]
Description=Run timer for apps-monitor

[Timer]
# Time between running each consecutive time
OnUnitActiveSec=30s
AccuracySec=0
Persistent=true
Unit=apps-monitor.service

[Install]
WantedBy=multi-user.target